@import './variables/color';
//login input border
.login-input {
  & input::placeholder {
    color: $loginInputPla;
    font-size: 0.36rem !important;
  }
  & .vux-x-input {
    height: 0.6rem !important;;
    line-height: 0.6rem !important;
    font-size: 0.4rem;
    & .weui-input {
      line-height: 0.6rem;
      height: 0.6rem;
    }
  }
}

.weui-tab__panel {
  padding: 0px !important;
}

//  header
.vux-header {
  & .vux-header-left {
    left: 0.36rem !important;
    top: 0px !important;
    line-height: 0.8rem !important;
    padding: 3px !important;
    height: 0.8rem !important;
    font-size: 0.28rem !important;
    /* & .vux-header-back {
       font-size: 0.28rem !important;
       padding-left: 0.4rem !important;
     }
     & .left-arrow{
       position: absolute !important;
       width: 0.4rem !important;
       height: 0.4rem !important;
       top: 0rem !important;
       left: 0rem !important;
     }
     & .left-arrow::before {
       width: 0.2rem !important;
       height: 0.2rem !important;
       top: 0.1rem !important;
       left: 0.1rem !important;
     }*/
  }
  & .vux-header-title {
    font-size: 0.36rem !important;
    line-height: 0.8rem !important;
    height: 0.8rem !important;
    margin: 0 1.4rem !important;
  }
  & .vux-header-right {
    right: 0.3rem !important;
    top: 0.26rem !important;
    font-size: 0.32rem !important;
    line-height: 0.4rem !important;
  }
}

// icon
.weui_icon_success {
  font-size: 0.4rem;
}

//去掉input的border
.weui-cells:before {
  height: 0px !important;
  border: none !important;
}

.weui-cells:after {
  height: 0px !important;
  border: none !important;
}

.weui-cells {
  margin: 0px !important;
}

.vux-cell-value {
  font-size: 0.36rem;
}

.weui-cell:before {
  height: 0px !important;
  border: none !important;
}

.weui-cell .weui-cell__ft:after {
  height: 0.12rem !important;
  width: 0.12rem !important;
}

// input
.perDtls-input-plder, .uploadDetails-class, .fapiaoUpload-save {
  input::placeholder {
    color: $perDtlsBannerInputTitle;
  }
  // input font-size
  & .vux-x-input {
    & .weui-input {
      font-size: 0.32rem !important;
    }
    // clear btn
    & .weui-icon-clear {
      font-size: 0.24rem !important;
    }
  }
}

// dialog 内的input样式
.dialog-class{
  & .vux-x-input {
    height: 0.32rem !important;
    & .weui-input {
      font-size: 0.28rem !important;
    }
    // clear btn
    & .weui-icon-clear {
      font-size: 0.24rem !important;
    }
  }
}

//设置input高度
.vux-x-input {
  height: 0.4rem;
}

// 设置pick的高度 border label
.vux-cell-box {
  &:before {
    height: 0px !important;
    border: none !important;
  }
  & .weui-cell {
    height: 0.4rem;
    & .weui-label {
      //color: $perDtlsBannerInputTitle;
    }
  }
}

// tab切换
.personal-detials {
  & .vux-tab-wrap {
    line-height: 0.8rem !important;
    height: 0.8rem;
    & .vux-tab-container {
      line-height: 0.8rem !important;
      height: 0.8rem;
      & .vux-tab {
        line-height: 0.8rem !important;
        height: 0.8rem;
        & .vux-tab, .vux-tab-item {
          line-height: 0.8rem !important;
          height: 0.8rem;
          font-size: 0.32rem;
        }
        & .vux-tab-ink-bar{
          margin: 0 0.2rem !important;
        }
      }
    }
  }
}

.per-dtls-icon {
  & .vux-x-icon {
    fill: $perDtlsBannerLetter;
    width: 0.28rem;
  }
}

// checklist  style
.per-dtls-checklist {
  & .weui-cells {
    background-color: $perDtlsBannerBg;
  }
  & .weui-cell {
    padding: 0px;
  }
  & .weui-cells_checkbox .weui-icon-checked:before {
    //font-size: 19px;
    font-size: 0.36rem;
  }
  & .weui-cell__bd {
    color: $white;
    //font-size: 14px;
    font-size: 0.28rem;
  }

  input[type="checkbox"]::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    width: 100%;
    height: 100%;
    border: 1px solid #d9d9d9
  }

  input[type="checkbox"]:checked::before {
    content: "\2713";
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border: 1px solid #e50232;
    color: #e50232;
    font-size: 20px;
    font-weight: bold;
  }
}

.vux-slider > .vux-swiper > .vux-swiper-item {
  width: 100px !important;
}

// 修改时间选择器的图标
.date-picker-class {
  & .vux-cell-value{
    display: none;
  }
  & .weui-cell__ft:after{
    border: 0rem !important;
    background: url("../../assets/img/time-pic.png") no-repeat white center;
    min-height: 0.4rem !important;
    min-width: 0.4rem !important;
    transform: none !important;
    margin-top: -0.2rem !important;
  }
}

//confirm 右边按钮颜色
.weui-dialog__btn_primary{
  color: $kpmgBlue !important;
}

// 后台返回錯誤信息提示樣式
.weui-toast{
  width: auto !important;
  padding:0 5px !important;
  word-break: break-word !important;;
}

// loading 样式
.vux-spinner{
  & svg{
    width: 1rem !important;
    height: 1rem !important;
  }
  stroke: #FFF !important;
  fill: #FFF !important;
  width: 1rem !important;
  height: 1rem !important;
}


