$kpmgBlue: #013695;
$loginInputPla: #809ac9;
$loginInputbg: #013492;
$loginInputBorder: #345eaa;
$loginInputFocusBg: #00217b;
$loginForgetPsdBtnBg: #005eb8;
$homeLetterColor: #00338d;
$perDtlsBorder: #0091da;
$perDtlsBannerLetter: #8e86bb;
$perDtlsBannerBg: #483698;
$perDtlsBannerInputTitle: #8794a7;
$perDtlsBannerInputBorderOrDataBg: #f3f5f6;
$contractUploadBg: #f7f7f8;
$contractUploadBorder: #e8ecf0;
$white: #ffffff;
$red: red;
$whiteLight:#bdcef3;
$greenLight:#77C700;
$darkPurple:#6B5194;
$darkGreen:#00988D;
$orange:#FF813C;
$orange1:#F68D2E;
$chartPurple: #50166F;
$btnDisabled:#DFE1E2;
$btnCancle: gray;
$greenLitter: #00A3A1;
$orangeLitter: #C85C48;
$blueLitter: #005EB8;
$purpleLitter: #6D2077;

$busiTraSick: #e3bc9f;
$busiTraNotWorking: #8794a7;
$busiTraWorking: #005eb8;
$busiTraInTransit: #483698;
$busiTraOnVacation: #00a3a1;
$busiTraHoliday: #43b02b;

$trendPurpleLighter: #71438A;
$trendBlue: #0091DA;
$trendGreen: #61C152;
$trendOrange: #F8A860;
$trendPink: #D88AE1;


